.contentbox{
    margin-top: 50px;
    margin: auto;

}

.cardbox{
    margin: 30px auto 0 auto;
    width: 100%;
    background-color: rgba(11, 9, 43, 0.932);
    height: 670px;
    border-radius: 8px;
}

.cardbox-div h2{
    color: white;
    font-size: 15px;
}

.cardbox-div > div{
    height: 105px;

}

.cardbox > div{
    align-items: center;
}

.buttons-div{
    align-items: flex-end;
    justify-content: space-around;
}

.cardbox .ssbutton{
    margin: 0 10px;
    color: rgb(47, 131, 92);
}

.cardbox .smbutton{
    margin: 0 10px;
    background: rgb(75, 12, 223);
    color: #d4c4fa;
    border: none;

}

.cardbox p{
    position: absolute;
    bottom: 18%;
    font-size: 25px;
    color: green;
}

.cardbox {
    position: relative;
}

.cardbox img{
    width: 100%;
    height: 400px;
}

@media (min-width: 300px) and (max-width:500px){
    .cardbox img{
        width: 100%;
        height: 410px;
    }
    .cardbox p{
        font-size: 35px;
    }

}

.banners-mid{
    margin-top: 30px;

}

.banner1 img{
    width: 100%;
    height: 100%;
}

.banner2{
    background-color: purple;
    height: 545px;
}

.banner2 img{
    height: 100%;
    width: 100%;
}



