.contentbox{
    margin-top: 50px;
    margin: auto;

}

.cardbox{
    margin: 30px auto 0 auto;
    width: 100%;
    background-color: rgba(11, 9, 43, 0.932);
    height: 650px;

}

.cardbox-div h2{
    color: white;
}

.cardbox-div > div{
    height: 100px;

}

.cardbox > div{
    align-items: center;
}

.buttons-div{
    align-items: flex-end;
    justify-content: space-around;
}

.cardbox .ssbutton{
    margin: 0 10px;
    color: rgb(47, 131, 92);
}

.cardbox .smbutton{
    margin: 0 10px;
    background: rgb(75, 12, 223);
    color: #d4c4fa;
    border: none;

}

.cardbox p{
    position: absolute;
    bottom: 18%;
    font-size: 28px;
    color: green;
}

.cardbox {
    position: relative;
}

.cardbox img{
    width: 100%;
    height: 400px;
    object-fit: fill;


}

@media (min-width: 300px) and (max-width:500px){
    .cardbox img{
        width: 100%;
        height: 410px;
    }
    .cardbox p{
        font-size: 40px;
    }

}

.banner-mid{
    margin-top: 30px;

}


.banner1{
    background-color: red;
    height: 500px;
}

.banner2{
    background-color: purple;
    height: 500px;
}

.banner3{
    height: 500px;
    background-color: orange;
}


