.minimenu{
    display: flex;
    padding-left: 1.5rem;
    width: 100%;

}

.navmenu{
    margin: auto;
    
}

.minimenu li{
    position: relative;
}

.minimenu li:hover .submenu{
    display: block;
    border-radius: 4px;
}

.minimenu a{
    padding: 10px 20px;
    display: block;
}

.submenu{
    display: none;
    position: absolute;
}

.submenu a{
    display: block;
}

.headermain{
    box-shadow: 2px 2px 2px 2px royalblue;
    z-index: 1;
}


@media (min-width: 305px) and (max-width: 850px)
{
  .headermain
   {
    width: 100vh;
   }

}

@media (min-width: 800px)
{
  .menuflex
   {
    justify-content: space-around;

   }

}

.search input{
    align-self: center;
    margin: 0 15px;
    outline: none;
    border: 2px solid white;
    box-shadow: 1px 1px 1px 1px white;

}

.logotext{
    font-size: 45px;
    margin-right: 30px;
    font-family: 'Rubik Dirt'
}