.minimenu{
    display: flex;
    width: 100%;

}

.navmenu{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.527);
    
}

.c-mainmenu a:hover{
    background: rgb(75, 12, 223);
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.c-mainmenu a{
    color: rgba(255, 255, 255, 0.527);
}


.minimenu li{
    position: relative;
}

.minimenu li:hover .submenu{
    display: block;
    border-radius: 4px;
}

.minimenu a{
    padding: 5px 20px;
    display: block;
}

.minimenu > li > a:hover{
    background-color: rgb(75, 12, 223);
    transform: scale(120%);
    color: rgb(107 114 128 / var(--tw-text-opacity))
}

.submenu > li > a:hover{
    background-color: rgb(78, 33, 184);
    transform: scale(110%);
    color: rgb(107 114 128 / var(--tw-text-opacity))
}

.submenu{
    display: none;
    position: absolute;
}

.submenu a{
    display: block;
}

.headermain{
    box-shadow: 2px 2px 2px 2px royalblue;
    z-index: 1;
    background: rgb(3,2,38);
    background: linear-gradient(90deg, rgba(3,2,38,1) 17%, rgba(9,115,121,1) 91%);
}

@media (min-width: 850px)
{
  .menuflex
   {
        justify-content: center;
   }

}


.logotext{
    font-size: 45px;
    margin-right: 30px;
    font-family: 'Rubik Dirt'
}

.search input{
    align-self: center;
    outline: none;
    border: 2px solid white;
    align-self: center;


}

.search{
    display: flex;
    align-items: center;

}

.search label{
    color: rgba(255, 255, 255, 0.527);
}

.search div{
    margin: 0 15px;
    box-shadow: 1px 1px 1px 1px white;
    border: 1px solid white;
    background-color: white;
    align-self: center;
    display: flex;
}


.signup{
    display: flex;
    
}

.signup a{
    padding: 1.25rem;
    border-radius: 0.25rem;
    transition: 500ms;
}
