@media (min-width: 280px) and (max-width: 850px)
{
  .widthimg
   {
    width: 100vh;
   }

}

@media (min-width: 280px)
{
  .bannertextwidth
   {
    display: block !important;

   }

}

.bannerwidth{
    height: 400px;
    object-fit: cover;
}