@media (min-width: 305px) and (max-width: 850px)
{
  .widthimg
   {
    width: 100vh;
    height: 50px;
   }

}

@media (min-width: 320px)
{
  .bannertextwidth
   {
    display: block !important;

   }

}

.bannerwidth{
    height: 500px;
    object-fit: cover;
}