.login-box{
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginwarn{
    color: red;
}

.loginsuccess{
    color: green;
}

.registersuccess{
    color: green;
}